{% extends "index.html" %}
{% block title %}
Eliminar Evidencia
{% endblock title %}

{% block body %}
<main class="container py-5">
    <div class="card card-body m-5 ">
        <div class="card-header bg-secondary">
            <h4>Confirmación de Eliminación</h4>
        </div>
        <div class="text-center">
            <form method="POST">
                {% csrf_token %}
                <h5>¿Desea deshabilitar la evidencia "{{object}}"?</h5>
                <button type="submit" class="btn btn-danger">Borrar Evidencia</button>
                <a class="btn btn-dark" href="{% url 'cohorte:listar_evidencia' %}">Cancelar</a>
            </form>
        </div>
    </div>
</main>

{% endblock body %}
