{% extends "index.html" %}
{% block title %}
Tareas
{% endblock title %}

{% block body %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_edicion(url) {
            jQuery('#edicion').load(url, function () {
                jQuery(this).modal('show');
            });
        }
        function abrir_modal_creacion(url) {
            jQuery('#creacion').load(url, function () {
                jQuery(this).modal('show');
            });
        }
    </script>
    {% endblock extrajs %}
</head>

<main class="container mt-2">
    <header>
        {% if request.user.rol.rol == "profesor" or request.user.is_staff %}
        <h2>Administración de Tareas</h2>
        <button id="botonLyou" class="btn" onclick="abrir_modal_creacion('{% url 'cohorte:crear_tarea' %}')">Crear
            tarea</button>
        {% endif %}
    </header>
    {% if tareas %}
    <div class="talbe-stats order-table ov-h">
        <table class="card card-body table">
            <thead>
                <tr id="spc">
                    <th>ID</th>
                    <th>Leccion</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Finalización</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tr in tareas %}
                <tr id="spc">
                    <th>{{tr.id }}</th>
                    <th>{{tr.leccion_id }}</th>
                    <td>{{tr.titulo}}</td>
                    <td>{{tr.descripcion}}</td>
                    <td>{{tr.fecha_inicio}}</td>
                    <td>{{tr.fecha_fin}}</td>
                    {% if request.user.rol.rol == "profesor" or request.user.is_staff %}
                    <td>
                        <a id="botones" class="btn btn-danger"
                            href="{% url 'cohorte:eliminar_tarea' tr.id %}">Deshabilitar</a>
                        <button id="botones" class="btn btn-primary"
                            onclick="abrir_modal_edicion('{% url 'cohorte:editar_tarea' tr.id %}')">Editar</button>
                        <br> <button style="width: 100%;" id="botones" class="btn btn-warning mt-2 btn-block"
                            onclick="abrir_modal_edicion()">Calificar Tarea</button>
                    </td>
                </tr>
                {% elif request.user.rol.rol == "estudiante" or request.user.is_staff %}
                <td>
                    <button id="botones" class="btn btn-success" onclick="abrir_modal_edicion()">Subir
                        evidencia</button>
                </td>
                {% endif %}

                {% endfor %}
                {% else %}
                <div class="mt-2 alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                    <strong>
                        <h2> No hay Tareas registradas en el sistema</h2>
                    </strong>
                </div>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="creacion" role="dialog">

    </div>
    <div class="modal fade" id="edicion" role="dialog">

    </div>
</main>
{% endblock body %}